<div class="login_container">
  <div class="login_background"></div>

  <form action="/register" method="post" class="login_form">
    <h2 class="login_title">Registrera dig</h2>
    
    <% if @error %>
      <p class="login_error"><%= @error %></p>
    <% end %>
    
    <label for="username" class="login_label">Användarnamn:</label>
    <input type="text" id="username" name="username" class="login_input" required>

    <label for="password" class="login_label">Lösenord:</label>
    <input type="password" id="password" name="password" class="login_input" required>

    <input type="submit" value="Registrera" class="login_btn">
    
    <p class="login_register_text">
      Har du redan ett konto? 
      <a href="/login" class="login_register_link">Logga in här</a>
    </p>
  </form>
</div>
