<h2>Träningsplaner</h2>

<% @training_plans.each do |plan| %>
  <div>
    <h3><%= plan['name'] %></h3>
    <p><%= plan['description'] %></p>
    <p>Goal: <%= plan['goal'] %></p>
    <a href="/training_plans/<%= plan['id'] %>">Visa detaljer</a>
  </div>
<% end %>

<!-- Länk för att skapa en ny träningsplan -->
<a href="/index">Skapa ny träningsplan</a>
