<div class="training-plans-container">
  <h2>Träningsplaner</h2>

  <div class="plans-list">
    <% @training_plans.each do |plan| %>
      <div class="plan-item">
        <h3><%= plan['name'] %></h3>
        <p><%= plan['description'] %></p>
        <a href="/training_plans/<%= plan['id'] %>" class="details-link">Visa detaljer</a>
      </div>
    <% end %>

    <!-- Skapa ny plan box -->
    <div class="plan-item create-plan">
      <a href="/index">+</a>
    </div>
  </div>
</div>
